.sidebar{
	margin: 20px;
	border-top: 1px solid $border-color;
	padding: 10px;

a{
	text-decoration: none;
	color: black;
	font-size: 10px;
}

span{
	font-size: 10px;
	letter-spacing: 0.2rem;
	text-align: center;
}

h1{
	font-size: 15px;
}

 p{
	font-size: 14px;
	text-align: left;
	line-height: 2rem;
}
 button{
	padding: 10px;
	text-transform: uppercase;
	font-size:15px;
}

}


