

@import "cl";
@import "header";
@import "side";
@import "post";
@import "sh";
@import "footer";


*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}


.bg{
	background-color:$background-color;
}




